{% extends 'blogs/base.html' %}

{% load static %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}">
{% endblock %}

{% block header %}About Me{% endblock %}

{% block content %}
<p>First off, if you're taking the time to visit this site/personal project of mine, let me say: Thank You!</p>
<p>I really had several goals when designing this project:</p>
<ol>
<li> I wanted to learn something new.</li>
<li> Learning how to design, build, and deploy a website from scratch was new to me!</li>
<li> Learning how to design, build, and deploy a website from scratch using the Django Web Framework was always on my bucket list.  Now if I ever have a cool idea down the line, I don't have to learn how to use Django for the first time, it's in the arsenal.</li>
<li> I wanted to be able to better retain things that I learn by writing about what I learn (because writing about what I learn helps me to remember what I learn).</li>
<li> I wanted to better motivate myself to learn things new (because writing about what I learn encourages me to learn more strangely enough).</li>
<li> I want to be a better, more articulate and 'powerful' writer.</li>
<li> I want other people to have the same opportunity to learn the things that I learn (without having to go through all the hiccups that I went through).</li>
</ol>
<p> So with these goals in mind, this project seemed to check off a lot of boxes for me.</p>
<p> I'm not really expecting this to be morph into something outlandishly big.  But I do think this is going to help me a lot and if this project can help someone else along the way, all the better.</p>
<p> I don't exactly know what the scope of this blog will be.  I am definitely going to write some tutorials on web development (because I just went through that all just now).  I am definitely going to write about some software engineering principles (because that is I what get paid to do).  I am definitely going to write about some other academic interests (probably machine learning and artificial intelligence and natural language processing).  I am maybe going to share some stuff about music theory, blues, and maybe even tackle some songs on the piano and guitar.  I have no idea where the scope of this blog will end though.</p>
<p> Ultimately, just consider this to be nothing more than just some fun stuff. That's all it really is at the end of the day.</p>
<p> About me personally, my name is Michael Altschuler.  I graduated from TCNJ in 2019 with a degree in Computer Science and have been working fulltime as a Software Enginner/Researcher at AT&T since the summer of 2019.  That's really all I got to say about myself if I'm being honest.  I'm not really good with elevator pitches or autobiographies, I feel too weird doing that. But you can probably piece together the rest based on all the fun stuff I'll share along the way.</p>
<p> If you ever want to reach out for any questions, always feel free to reach out to me via email (altschm1@tcnj.edu) or DM via Twitter (@schuler76).  I'm not really good at checking either though, so don't expect an instant response as I am terrible with email and I don't even have the Twitter app downloaded, but I will definitely do my best to get back and respond if you have any questions on any of my posts or need any help/assistance on your own projects.
<p> Cheers mate!</p>
{% endblock %}